h1 
{
	text-align: center;
	font-size: 1.2em;
	font-weight: normal;
	color: #eee;
	font-family: 'Poppins', sans-serif;
}

span 
{
	color: #ffffff;
	font-family: Raleway,Helvetica Neue,Helvetica,sans-serif,Montserrat;
}